header {
    margin: 0px auto;
    width: 99%;
    height: 65px;
    position: fixed;
    background-color: rgba(255, 248, 220, 0.637);
    box-shadow: 0 4px 6px rgba(0,0,0,.2);  
    z-index: 999999;
  }

  ul {
    float: right;
  }

  .menu {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
  }

  .menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: rgb(134, 134, 134);
    display: block;
    position: relative;
    cursor: pointer;
    line-height: 1;
  }

  .menu a:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(197, 26, 26);
    content: "";
    transition: width 0.5s linear;

  }

  .menu a:hover {
    color: rgb(41, 29, 29);
    font-weight: 500;
  }

  .menu a:hover:after,
  .menu a:focus:after
   {
     width: 100%;
  }

  .menu li {
    display: inline-block;
    height: 25px;
    margin: 10px 20px;
  }
   .menu {
       
   }