*{
    margin: 0;
    padding: 0;
}

body {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-image: url(assets/pace-oregon-state-html-css-coding-web-design-660x330.jpg);
    background-size: cover;
    background-color: rgb(253, 247, 239);
}

.image {
    border-radius: 50%;
    border-style: double;
    border-width: 5px;
    border-color: white;
    width: 200px;
    height: 200px; 
}

.title-h1 {
    color: white;
    font-size: 3em;
    font-family:Arial, Helvetica, sans-serif;
    filter: drop-shadow(0 0 0.2em darkblue);
}

.title-h2 {
    color: white;
    font-size: 2em;
    font-family:'Courier New', Courier, monospace;
    filter: drop-shadow(0 0 0.2em darkblue);
}

.contact {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.h3-contact {
    color: white;
    font-size: 1.5em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    filter: drop-shadow(0 0 1.5em darkblue);
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(253, 247, 239);
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    margin: 15px;
}

h4 {
    font-size: 2em;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 80px;
}

section {
    padding: 10px;
}

.section-line {
    width: 5px;
    background-color: rgb(70, 3, 3);
    padding: 0;
}

code {
    font-size: 22px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: crimson;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    padding-top: 20px;
    background-color: rgb(253, 247, 239);
}

.copy {
    font-size: 24px;
    font-weight: bold;
    font-family: monospace;
}

.img-rsschool:hover {
    filter: drop-shadow(0 0 0.1em crimson);
}